/chrome-screenshot/Vietnam
/chrome-screenshot/Thailand
/chrome-screenshot/__pycache__
/collect-data-instagram/downloads
/collect-data-instagram/images
/collect-data-instagram/data_selebgram
/collect-data-instagram/config
/.vscode
